{% extends "base.html" %}

{% load staticfiles %}

{% block body %}
<div>
      {% if user and not user.is_anonymous %}
      Welcome {{ user.username }} <a href="{% url 'auth:logout' %}?next=/">Logout</a>
      {% else %}
      <a href="{% url 'auth:login' %}">Login</a>
      {% endif %}
    </div>

    <img src="{% static "images/logo.png" %}" id="mainLogo">
    <form>
      <input type="text" placeholder="First Name" class="form-control">
      <input type="text" placeholder="Last Name" class="form-control">
      <input type="text" placeholder="Email" class="form-control">
      <input type="text" placeholder="Confirm Email"class="form-control">
      <input type="password" placeholder="Password" class="form-control">
      <textarea class="form-control" placeholder="About You"></textarea >

      <!--insert captcha here -->
      <button type="submit">Submit</button>

    </form>
{% endblock %}
