{% extends "base.html" %}

{% load staticfiles %}

{% block active_search %}
active
{% endblock %}

{% block body %}
<form method="GET" id="searchForm">
  <div>
    <input type="text" placeholder="Search" name="q" value="{{ query }}">
    <input type="submit"></input>
  </div>
</form>

{% if query %}
<table class="table table-hover">
  <thead>
    <tr>
      <!-- <th>ID</th> -->
      <th>Title</th>
      <th>Created By</th>
      <th>Created On</th>
    </tr>
  </thead>
{% if results %}
  {% for result in results %}
  <tr>
    <!-- <td>
      {{ result.id }}
    </td> -->
    <td>
      {{ result.title }}
    </td>
    <td>
      {{ result.owner.username }}
    </td>
    <td>
      {{ result.created }}
    </td>
  </tr>
  {% endfor %}
{% else %}
  <tr><td colspan="4" class="center">No Results Found</td></tr>
{% endif %}
</table>
{% endif %}

{% endblock %}
